<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <title>Hello, world!</title>
  </head>
  <body>      

      <nav class="navbar sticky-top navbar-expand-sm bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="../../assets/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
              DocMedic
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLink="/doctor">Profil</a>
                <a class="nav-link"  routerLink="/doctorpregledi">Pregledi</a>
                <a class="nav-link" routerLink="/doctorrazno">Razno</a>
                <div class="d-flex">
                  <button (click)="logout()" class="btn btn-light" *ngIf="isAuth">Odjavi se</button>
                </div>
              </div>
            </div>        
          </div>
      </nav>
    <div class="container-xxl overflow-hidden">
      <div class="row" id="section">
          <div class="section-content">
            <div class="row">
              <div class="carousel-heading">
                <hr>
                <h1 class="heading-carousel" id="lekari-section">Naredna tri pregleda</h1>
                <hr>
              </div>
            </div>
            <div class="pregledi">
              <div class="row">
                <div class="table-responsive">
                  <table class="table table-hover table-striped" >
                    <thead>
                      <tr>
                        <th scope="col">Naziv pregleda</th>
                        <th scope="col" >Datum</th>
                        <th scope="col" >Vreme</th>
                        <th scope="col" >Cena</th>
                        <th scope="col" >Pacijent</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pregled of buduciPregledi" >
                        <td (click)="gotoPatientCard(pregled)">
                            {{pregled.pregled.name}}
                        </td>
                       
                        <td (click)="gotoPatientCard(pregled)">
                            {{getDate(pregled.timeStart)}}
                        </td>
                       
                        <td (click)="gotoPatientCard(pregled)">
                            {{getTime(pregled.timeStart)}}
                        </td>
                       
                        <td (click)="gotoPatientCard(pregled)">
                            {{pregled.pregled.price}}
                        </td>
                       
                        <td (click)="gotoPatientCard(pregled)">
                            {{pregled.patient}}
                        </td>
                        <td>
                          <button class="btn btn-primary"  type="button" (click)="otkazi(pregled)">
                            Otkaži pregled
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="section">
          <div class="section-content">
            <div class="pregledi">
              <div class="row">
                <div class="carousel-heading">
                  <hr>
                  <h1 class="heading-carousel" id="lekari-section">Svi obavljeni pregledi</h1>
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="table-responsive">
                  <table class="table table-hover table-striped" >
                    <thead>
                      <tr>
                        <th scope="col">Naziv pregleda</th>
                        <th scope="col" >Datum</th>
                        <th scope="col" >Vreme</th>
                        <th scope="col" >Cena</th>
                        <th scope="col" >Pacijent</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let pregled of prethodniPregledi;">
                      <tr>
                        <td (click)="gotoPatientCard(pregled)">
                          {{pregled.pregled.name}}
                        </td>
                        
                        <td (click)="gotoPatientCard(pregled)">
                          {{getDate(pregled.timeStart)}}
                        </td>
                        
                        <td (click)="gotoPatientCard(pregled)">
                          {{getTime(pregled.timeStart)}}
                        </td>
                        <td (click)="gotoPatientCard(pregled)">
                          {{pregled.pregled.price}}
                        </td>
                        <td (click)="gotoPatientCard(pregled)">
                          {{pregled.patient}}
                        </td>
                        <td>
                          <button class="btn btn-primary" *ngIf="!izvestajPregledi.includes(pregled._id)" type="button" data-bs-toggle="collapse" data-bs-target="#colapseID1" [attr.data-bs-target]="'#colapseID'+prethodniPregledi.indexOf(pregled)" aria-expanded="false" aria-controls="collapseExample">
                              Napisi izvestaj
                            </button>
                                                
                        </td>
                      </tr>
                      <tr>
                        <td colspan="4">
                          <div class="collapse" id={{colapseID+prethodniPregledi.indexOf(pregled)}}>
                            <div class="card card-body">
                              <form id="izvform" [formGroup]="form" (submit)="addIzvestaj(pregled)"  class="row g-3">
                                <div class="form-floating">
                                  <textarea class="form-control" formControlName="razlog" placeholder="..."  id="floatingTextarea2" style="height: 100px"></textarea>
                                  <label for="floatingTextarea2">Razlog dolaska pacijenta</label>
                                </div>
                                <div class="form-floating">
                                  <textarea class="form-control" formControlName="dijagnoza" placeholder="..." id="floatingTextarea2" style="height: 100px"></textarea>
                                  <label for="floatingTextarea2">Dijagnoza</label>
                                </div>
                                <div class="form-floating">
                                  <textarea class="form-control" formControlName="terapija" placeholder="..." id="floatingTextarea2" style="height: 100px"></textarea>
                                  <label for="floatingTextarea2">Preporucena terapija</label>
                                </div>
                                <div class="form-floating col-auto" >
                                  <input type="text" formControlName="kontrola" class="form-control" id="inputkontrola" placeholder="GGGG-MM-DD" >
                                  <label for="floatingTextarea2">Datum kontrole</label>
                                </div>
      
                                <button type="submit"  class="btn btn-primary col-1">Sacuvaj</button>
                              </form>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>

  </footer>

  </body>
</html>