<form>
    <div class="col-md-6">
      <label for="inputPassword" class="form-label">Stara lozinka</label>
      <input type="password" [(ngModel)]="passwordinsert" name="passins" class="form-control" id="inputPassword">
    </div>
    <div class="col-md-6">
      <label for="inputPasswordconf" class="form-label">Nova lozinka</label>
      <input type="password" [(ngModel)]="newpassword1" name="newpass1" class="form-control" id="inputPasswordconf">
    </div>
    <div class="col-md-6">
      <label for="inputPasswordconf" class="form-label">Potvrdi lozinku</label>
      <input type="password" [(ngModel)]="newpassword2" name="newpass2" class="form-control" id="inputPasswordconf">
    </div>
    <div id="passwordHelpBlock" *ngIf="wrongpassword" class="form-text redmessage">
      Lozinka mora imati minimalno 8, a maksimalno 14 karaktera, barem jedno veliko slovo, jedan broj i jedan specijalni karakter, i mora počinjati slovom.
      Dva susedna znaka ne smeju biti ista.  
    </div>
    <div id="passwordHelpBlock" *ngIf="notSame" class="form-text redmessage">
      Unete lozinke se razlikuju.  
    </div>
    <div id="passwordHelpBlock" *ngIf="notPass" class="form-text redmessage">
      Nije tačna lozinka.  
    </div>
    <button type="submit" name="btn" (click)="updatePassword()" class="btn btn-primary">Promeni lozinku</button>
  </form>